
<div class="register">
    <form class="custom-form" >
      <h1>Crear cuenta</h1>

      <input
      [(ngModel)]="nombre"
      placeholder="Nombre"
      required="required"
      name="nombre"
    />

    <input
    [(ngModel)]="edad"
    placeholder="Edad"
    required="required"
    type="number"
    name="edad"
  />

      <input
      name="usuario"
        [(ngModel)]="usuario"
        placeholder="Codigo institucional"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Contraseña"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="confirmPassword"
        name="password"
        placeholder="Repita la contraseña"
        required="required"
      />
      <button type="submit" (click)="registerUser()">Registrarse</button>
      <br>
      <button type="button" routerLink="/login" >Regresar al login</button>

    </form>
  </div>