.example-container button{    
   position: relative;
   left:45%;
  
}

.example-container th{    
    margin: 10px;
   
}
#ingredientes{
    position: relative;
    text-align: center;
}
.main-title{
    text-align: center;
}
mat-form-field {
    width: 50%;
    padding: 12px 20px;
    margin: 0 25% 10px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    outline: none;
    font-size: 15px;
    
    display: block;
}

.center{
    margin-left: auto;
    margin-right: auto;
}
