<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Productos</mat-card-title>
      <mat-card-subtitle>Menu y platos a la carta</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2018/04/295717-que-es-malo-abusar-comida-rapida.png?itok=NWLAbya1" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      Podras encontrar los platos de menu de la semana o los diferentes platos a la carta.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" routerLink="/products">Ingresar</button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title>Ordenes</mat-card-title>
      <mat-card-subtitle> Comprar un plato o menu </mat-card-subtitle>
    </mat-card-header>
    <img id="imagencarrito" mat-card-image src="https://lh3.googleusercontent.com/proxy/4cQTfKe13wPol5DDgb-E61gcHab2hE_r0dbY2nP0OFKKHIo0-qvrmfTgqJHn6-2sN-T8J8jja6xNJh_d8kLaZBYp0LXUsGfrLke6mm8mz1DNYzGVf2s" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Procede a comprar los productos requeridos.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" >
        <mat-icon>add</mat-icon>
        Comprar
    </button>
    </mat-card-actions>
</mat-card>