

<div class="login">


    <form class="custom-form">
        <img src="https://lh3.googleusercontent.com/MzDJzPD66uLAjUBeXSdyCSp5ZAsx8afenfElX77mpMJQDrSo_u5x7_o2Az-CM8DGIabcAOE_x8zXn3UtrXICtT6pvMrcbfsFmxxZ_MzaZW3YStHwmEf80nd9vNNqCLX5wHvyM9SPWlLj5ogKyH5YBgLvuAfeqt1mYkKTlljpV1S8JAbHRnsvbhtAMyGB5I8677ukIhIVOCtArPgxJri0XJz0kKCT1Qn_w6y0_LvRImjap4ev1J-Y6RTOcDSfwZ4KOkNhNNQ5DzJl6w-WQqfQ9Xu6DTudqgVoQV6M4tBZCN7_BdDgfV1mj8OSw0nWdcIaJNUN7I3b6K07mJoHemoRtkJp9GGnVVr28QvL9UKAmQLOPKjQLs6HNM1HApvA1Abatckt0IY4rJJa3wpwfJj_8VDQsP-6r4BK6DcVv8O-37gYcbTPs3DC5ZhgHbTWEgPoN-kYI2HSyJLGim3GSQ9mF5hf01bPM9hlFC4mS4C1yqV3lmzoxsmaryfcOLYI0pnP9SDAhKVYAd9Avgs1yI-u32HYGMIJwvObEpxdPhJFUAYQrURGVatG8TDRZSqNnCli29np0LZqMesblEcicHJM5S-NgKJhtoNyP_Z0jLF5JhTt_bgzIW-FQ9or5vb8gt9ZH-HmbU6uOeI9gnP_RpLqEc8jcN6wPgioI4BMxNgWf9Nusv0AHYCQBruBvQg-Ddo=s969-no?authuser=0"> 
      <input
        type="email"
        [(ngModel)]="username"
        name="username"
        placeholder="Usuario"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Constraseña"
        required="required"
      />
      <button type="submit" (click)="logIn()">Iniciar Sesion</button>
      <br>
      <button id="register" type="button" routerLink="/register">Crear una cuenta</button>
       <br>
    </form>
  </div>
