

<div class="login">


    <form class="custom-form">
      <h1>Login</h1>

        <img> <img>
      <input
        type="email"
        [(ngModel)]="username"
        name="username"
        placeholder="Usuario"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Constraseña"
        required="required"
      />
      <button type="submit" (click)="logIn()">Iniciar Sesion</button>
      <br>
      <button id="register" type="button" routerLink="/register">Crear una cuenta</button>
       <br>
    </form>
  </div>
